<header class="home-panel">
    <div class="info" *ngIf="!keysExist" [style.height.px]="height">
        <h1> Welcome</h1>
        <p>Add a branch to your coordinator account.</p>
        <button (tap)="goToAddBranchPage()"><i class="fa fa-plus" aria-hidden="true"></i> Add Branch Now</button>
    </div>
    <div class="page-info" *ngIf="keysExist">
        <button ion-button icon-only menuToggle (tap)="onToggleMenu()">
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <span class="position">Coordinator</span>
        <h1>{{this.currentUser.firstname}} {{this.currentUser.lastname}}</h1>
    </div>
</header>
<div class="main-content" [style.height.px]="height * 0.8" *ngIf="branches.length > 0">
    <div class="card store" *ngFor="let branch of branches; let i = index" (click)="viewBranchTransactions(i)">
        <div class="total">
            ₱{{ branch.net_sales | number: '1.2-2' }}
        </div>
        <div class="info">
            <h5>{{branch.name}}</h5>
            <span>Sold Items: {{ branch.sold_items | number }}</span>
        </div>
    </div>
</div>
