.home-panel {
    background: #f3f3f3;
    h1 {
        color: #2d3342;
        font-size: 16px;
    }
    span.position {
        color: grey;
        font-size: 11px;
        font-weight: bold;
    }
}

.card.store {
    width: 46%;
    float: left;
    margin: 2%;
    min-height: 144px;
    padding-bottom: 0 !important;
    .total {
        font-size: 16px;
        color: #8BC34A;
        font-weight: bold;
        text-align: left;
        border-top: none;
        padding-top: 0;
    }
    .info {
        width: 100%;
        margin-top: 27px;
        h5 {
            font-size: 11px !important;
        }
        span {
            font-size: 10px;
            padding: 2px 5px;
            background: #9eb3bd;
            color: #fff;
            font-weight: bold;
        }
    }
}
