<header class="owner-panel" (touchstart)="touched($event)" [class.hide-overview]="storeSalesBreakdown || currentPanel === 'inventory' || currentPanel ==='reports' || currentPanel === 'delivery'" [class.reports]="currentPanel ==='reports'" [class.delivery]="currentPanel ==='delivery'">
    <!-- Date -->
    <div class="date" *ngIf="currentReportsTab !== 'daily' && currentPanel !== 'delivery'">
        <h2 *ngIf="currentRange === 'day' || currentRange === 'daily'">{{ currentDate | date : 'MMMM d, yyyy' }}</h2>
        <h2 *ngIf="currentRange === 'month' || currentRange === 'monthly'">{{ currentDate | date : 'MMMM of yyyy' }}</h2>
        <h2 *ngIf="currentRange === 'year' || currentRange === 'yearly'">{{ currentDate | date : 'yyyy' }}</h2>
    </div>

    <div class="date" *ngIf="currentPanel === 'delivery'">
        <h2 >Pending Deliveries</h2>
    </div>

    <!-- Range Selector -->
    <div class="filter owner" *ngIf="!invPanel && currentPanel !== 'reports' && currentPanel !== 'delivery'">
        <div class="option" [class.selected]="currentRange === 'day' || currentRange === 'daily'" (tap)="onChangeRange('day', currentDate)">Daily</div>
        <div class="option" [class.selected]="currentRange === 'month' || currentRange === 'monthly'" (tap)="onChangeRange('month', currentDate)">Monthly</div>
        <div class="option" [class.selected]="currentRange === 'year' || currentRange === 'yearly'" (tap)="onChangeRange('year', currentDate)">Yearly</div>
    </div>

    <div class="sub-navigation" *ngIf="currentPanel === 'reports'" [class.daily-sales-report]="currentReportsTab === 'daily'">
        <div class="option" [class.selected]="currentReportsTab === 'general'" (tap)="onChangeReportsTab('general')">General Summary</div>
        <div class="option" [class.selected]="currentReportsTab === 'daily'" (tap)="onChangeReportsTab('daily')">Daily Sales</div>
    </div>

    <div class="filter select owner" *ngIf="invPanel && branches.length > 0">
        <ion-select [(ngModel)]="currentBranchIndex" (ngModelChange)="onChangeInventoryBranch($event)" placeholder="{{ currentBranchName }}">
            <ion-option *ngFor="let branch of branches; let i = index;" [value]="i">{{ branch.name }}</ion-option>
        </ion-select>
    </div>

    <div class="overview" [class.hide-overview]="storeSalesBreakdown || currentPanel === 'inventory' || currentPanel === 'reports' || currentPanel === 'delivery'">
        <span class="label">Total Sales</span>
        <div class="sales">
            <span class="currency">₱</span>
            <span class="value">{{ totalSales | number : '1.2-2'}}</span>
            <p [class.decrease]="change.type === 'decrease'">
                <span *ngIf="currentRange === 'day' || currentRange === 'daily'">Today's</span>
                <span *ngIf="currentRange !== 'day'">This {{ currentRange }}'s</span> sales
                <span> are {{ (change.type === 'decrease') ? 'down': 'up' }} by {{ change.percent }}</span>
            </p>
        </div>
    </div>

</header>

<div class="main-content owner" (touchstart)="touched($event)" [class.inventory]="currentPanel=='inventory'" [style.height.px]="height - 200" style="background: #f7f7f7" [class.show-breakdown]="storeSalesBreakdown || currentPanel=='inventory' || currentPanel=='reports' || currentPanel === 'delivery'" [class.daily-sales-report]="currentPanel=='reports' && currentReportsTab === 'daily'" [class.delivery]="currentPanel ==='delivery'">

  <div class="filter owner" *ngIf="currentPanel === 'reports' && currentReportsTab === 'general'">
      <div class="option" [class.selected]="currentRange === 'day' || currentRange === 'daily'" (tap)="onChangeRange('day', currentDate)">Daily</div>
      <div class="option" [class.selected]="currentRange === 'month' || currentRange === 'monthly'" (tap)="onChangeRange('month', currentDate)">Monthly</div>
      <div class="option" [class.selected]="currentRange === 'year' || currentRange === 'yearly'" (tap)="onChangeRange('year', currentDate)">Yearly</div>
  </div>
    <div class="sales-container" (tap)="salesBreakdownPanel()" *ngIf="!invPanel && currentReportsTab !== 'daily'  && currentPanel !== 'delivery'" [class.report-card]="reports">
        <span class="label">Store Sales</span>
        <span class="sales">₱{{ totalBranchSales | number: '1.2-2' }}</span>
        <p *ngIf="!reports">Tap here for store sales breakdown</p>
        <div class="legends"  *ngIf="!reports">
            <div class="legend" style="color: #ff494e">
                <i class="fa fa-square" aria-hidden="true"></i>
                <span>Discounts</span>
            </div>
            <div class="legend" style="color: #fec108" >
                <i class="fa fa-square" aria-hidden="true"></i>
                <span>Items Sold</span>
            </div>
        </div>
    </div>
    <div class="stores" *ngIf="!invPanel && !reports && currentPanel !== 'delivery'" >
        <div *ngFor="let branch of branchSales; let i = index;">
            <div class="store">
                <div class="details">
                    <span class="name">{{ branch.name }}</span>
                    <span class="discounts"> ₱{{ branch.total_discounts | number : '1.2-2' }}</span>
                    <span class="discounts" style="background: #FFC107; color: #925c0c; margin-left: 5px;"> {{ branch.total_sold_items | number : '1.0-0' }} Items</span>
                </div>
                <div class="sales">
                    <span class="net">₱{{ branch.total_sales | number : '1.2-2' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sales-container" *ngIf="!invPanel && currentReportsTab !== 'daily' && currentPanel !== 'delivery'" (tap)="salesBreakdownPanel()" [class.report-card]="reports">
        <span class="label">Delivery Sales</span>
        <span class="sales">₱{{ totalDeliverySales | number : '1.2-2' }}</span>
        <p *ngIf="!reports">Tap here for delivery sales breakdown</p>
        <div class="legends"  *ngIf="!reports">
            <div class="legend" style="color: #ff494e">
                <i class="fa fa-square" aria-hidden="true"></i>
                <span>Discounts</span>
            </div>
            <div class="legend" style="color: #fec108">
                <i class="fa fa-square" aria-hidden="true"></i>
                <span>Items Sold</span>
            </div>
            <div class="legend" style="color: #2638e4">
                <i class="fa fa-square" aria-hidden="true"></i>
                <span>Franchisee Sales</span>
            </div>
        </div>
    </div>
    <div class="stores franchisee" *ngIf="!invPanel && !reports && currentPanel !== 'delivery'">
        <div *ngFor="let branch of franchiseeSales">
            <div class="store">
                <div class="details">
                    <span class="name">{{ branch.name }}</span>
                    <span class="discounts"> ₱{{ branch.total_discounts | number : '1.2-2' }}</span>
                    <span class="discounts" style="background: #FFC107; color: #925c0c; margin-left: 5px;"> {{ branch.total_sold_items | number : '1.0-0' }} Items</span>
                </div>
                <div class="sales">
                    <span class="net">₱{{ branch.total_sales | number : '1.2-2' }}</span>
                    <span class="franchisee">₱{{ branch.franchisee_sales }}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="card inventory" *ngIf="invPanel">
        <div class="total-revenue">
            <h2>{{ currentDate | date : 'MMMM d, yyyy' }} Inventory</h2>
        </div>
    </div>

    <div class="reports" [style.height.px]="height - 235" *ngIf="currentPanel === 'reports'">

        <div class="general">
            <div class="headline" *ngIf="monthlySummary && currentReportsTab !== 'daily'">
                <h2>Monthly Sales</h2>
                <p>Monthly generated sales of your business.</p>
            </div>
            <div class="graph" *ngIf="monthlySummary && currentReportsTab !== 'daily'">
                <div class="month" *ngFor="let summary of monthlyPercentageSummary">
                    <div class="bar-container"><span [style.height.%]="summary.percentage"></span></div>
                    <div class="label">{{ summary.date_short }}</div>
                </div>
            </div>
            <div class="list" *ngIf="monthlySummary && currentReportsTab !== 'daily'">
                <div class="section-title">Breakdown</div>
                <div class="item" *ngFor="let summary of monthlySummary;">
                    <div class="label">{{ summary.date }}</div>
                    <div class="value">₱ {{ summary.net_sales | number: '1.2-2' }}</div>
                </div>
                <div class="item total">
                    <div class="label" style="text-align: left;"><b>Total Sales</b></div>
                    <div class="value">₱ {{ totalMonthlySales | number: '1.2-2' }}</div>
                </div>
            </div>
            <div class="headline" *ngIf="currentReportsTab !== 'daily'">
                <h2>Top Products</h2>
                <p>Top performing products based on monthly sold items.</p>
            </div>
            <div class="list" *ngIf="currentReportsTab !== 'daily'">
                <div class="section-title" *ngIf="currentRange == 'day'">
                    As of {{ currentDate | date : 'MMMM dd, yyyy' }}
                </div>
                <div class="section-title" *ngIf="currentRange == 'month'">
                    Month of {{ currentDate | date : 'MMMM of yyyy' }}
                </div>
                <div class="section-title" *ngIf="currentRange == 'year'">
                    Year of {{ currentDate | date : 'yyyy' }}
                </div>
                <div class="item" *ngFor="let product of products; let i = index;">
                    <div class="label">{{product.name}}</div>
                    <div class="value">{{product.quantity | number : '1.0'}}</div>
                </div>
            </div>
            <div class="headline" *ngIf="currentReportsTab !== 'daily'">
                <h2>Top Dealers</h2>
                <p>Top performing dealers based on monthly purchased items.</p>
            </div>
            <div class="list" *ngIf="currentReportsTab !== 'daily'">
                <div class="section-title">
                    Month of {{ currentDate | date : 'MMMM of yyyy' }}
                </div>
                <div class="item" *ngFor="let dealer of topDealers">
                    <div class="label">{{ dealer.firstname }} {{ dealer.lastname }}</div>
                    <div class="value">{{ dealer.total_sold }} pcs.</div>
                </div>
            </div>
        </div>

        <div class="daily" *ngIf="currentReportsTab === 'daily'">
            <div class="filter-reports">
                <div class="select-branch">
                    <label for="">SELECT BRANCH</label>
                    <ion-select [(ngModel)]="currentBranchIndex" placeholder="{{ currentBranchName }}">
                        <ion-option *ngFor="let branch of branches; let i = index;" [value]="i">{{ branch.name }}</ion-option>
                    </ion-select>
                </div>
                <div class="date-range">
                    <ion-datetime #fromDatePicker displayFormat="MMM DD YYYY" [(ngModel)]="fromDate" style="display: none"></ion-datetime>
                    <ion-datetime #toDatePicker displayFormat="MMM DD YYYY" [(ngModel)]="toDate" style="display: none"></ion-datetime>
                    <div class="from" (tap)="fromDatePicker.open()">
                        <label for="">FROM</label>
                        <span class="date">{{ fromDate }}</span>
                    </div>
                    <div class="to" (tap)="toDatePicker.open()">
                        <label for="">TO</label>
                        <span class="date">{{ toDate }}</span>
                    </div>
                </div>
                <button type="button" name="button" class="generate" (tap)="onGenerateReport()">GENERATE REPORT</button>
            </div>
            <div class="summary">
                <div class="total-sales">
                    <b>Total Sales</b>
                    <span>₱{{ report.total_sales | number : '1.2-2' }}</span>
                </div>
                <div class="discounts">
                    <b>Discounts</b>
                    <span>₱ {{ report.total_discounts | number : '1.2-2' }}</span>
                </div>
                <div class="sold">
                    <b>Sold Items</b>
                    <span>{{ report.total_sold_items }}</span>
                </div>
            </div>

            <div class="sales-list" *ngIf="summaries.length > 0">
                <div class="item" *ngFor="let summary of summaries">
                    <div class="date">
                        <span class="month">{{ summary.month }}</span>
                        <span class="day">{{ summary.day }}</span>
                    </div>
                    <div class="sales-details">
                        <span class="net-sale">₱{{ summary.total_sales  | number : '1.2-2' }}</span>
                        <span class="discounts">₱ {{ summary.total_discounts }}</span>
                        <span class="discounts" style="background: #FFC107; color: #925c0c; margin-left: 5px;"> {{ summary.total_sold_items }} Items</span>
                    </div>
                    <div class="performance">
                        <img src="./assets/icon/sales-down.png" alt="" *ngIf="summary.sales_change.type === 'decrease'">
                        <img src="./assets/icon/sales-up.png" alt="" *ngIf="summary.sales_change.type === 'increase'">
                        <span [ngClass]="{ 'inc' : summary.sales_change.type === 'increase', 'dec' : summary.sales_change.type === 'decrease' }">{{ summary.sales_change.percent }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="inventories owner" *ngIf="invPanel" [style.height.px]="height - 225">
        <div class="table-label">
            <div class="product">Item</div>
            <div class="beginning">Beg.</div>
            <div class="ending">End.</div>
            <div class="sold">Sold</div>
        </div>
        <div *ngIf="!noInventory" class="inventory-list" [style.height.px]="height + 75">
            <div class="inventory" *ngFor="let stock of stockInventory; let i = index">
                <div class="inventory-container" [class.active]="stock.sold > 0">
                    <div class="product">{{ stock.item }}</div>
                    <div class="beginning">{{ stock.beginning }}</div>
                    <div class="ending">{{ stock.ending }}</div>
                    <div class="sold">{{ stock.sold }}</div>
                </div>
            </div>
        </div>
        <div class="total-sold" style="    padding: 10px 0 10px 10px;">
          <div class="inventory-container" >
              <div class="product" style="float: left; font-size: 16px;">Total</div>
              <div class="beginning" style="float: left; font-size: 16px;">{{ totalBeginningInventory }}</div>
              <div class="ending" style="float: left; font-size: 16px;">{{ totalEndingInventory }}</div>
              <div class="sold" style="float: left; font-size: 16px;">{{ totalSoldItems }}</div>
          </div>

        </div>
    </div>

    <div class="delivery" [style.height.px]="height - 150" *ngIf="currentPanel === 'delivery'">
      <div class="deliveries">
        <div class="item" *ngFor="let delivery of deliveries">
            <span class="store">{{ delivery.branch_name }}</span>
            <div class="meta">
              <span class="remarks">{{ delivery.remarks }}</span>
              <span class="date">{{ delivery.created_at | date : 'MMMM d, yyyy' }}</span>
            </div>
            <div class="actions">
                <button class="delivery" (click)="onConfirmDelivery(delivery.id, delivery.status)" [class.pending]="delivery.status !== 'confirmed'">{{ delivery.status }}</button>
                <button class="delivery" (click)="onPayDelivery(delivery.id, delivery.payment_status)" [class.unpaid]="delivery.payment_status !== 'paid'" *ngIf="delivery.payment_status !== 'N/A'">{{ delivery.payment_status }}</button>
            </div>
        </div>
      </div>
    </div>
</div>

<ion-fab right bottom (touchstart)="touched($event)" *ngIf="currentReportsTab !== 'daily' && currentPanel !== 'delivery'">
    <button ion-fab class="fab-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></button>
    <ion-item class="date">
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="currentDate" (ngModelChange)="onChangeRange(currentRange, currentDate)"></ion-datetime>
    </ion-item>
</ion-fab>

<div class="button-class footer nav" (touchstart)="touched($event)">
    <div class="nav-item" [class.selected]="currentPanel === 'home'" (tap)="storesPanel('reset')">
        <img *ngIf="currentPanel === 'home'" src="./assets/icon/sales-hover.png" />
        <img *ngIf="currentPanel !== 'home'" src="./assets/icon/sales.png" />
        <span>Stores</span>
    </div>
    <div class="nav-item" [class.selected]="currentPanel === 'inventory'" (tap)="inventoryPanel()">
        <img *ngIf="currentPanel !== 'inventory'" src="./assets/icon/inventory.png" />
        <img *ngIf="currentPanel === 'inventory'" src="./assets/icon/inventory-hover.png" />
        <span>Inventory</span>
    </div>
    <div class="nav-item" [class.selected]="currentPanel === 'delivery'" (tap)="deliveryPanel()">
        <img *ngIf="currentPanel !== 'delivery'" src="./assets/icon/delivery.png" />
        <img *ngIf="currentPanel === 'delivery'" src="./assets/icon/delivery-hover.png" />
        <span>Deliveries</span>
    </div>
    <div class="nav-item" [class.selected]="currentPanel === 'reports'" (tap)="reportsPanel()">
        <img *ngIf="currentPanel !== 'reports'" src="./assets/icon/reports.png" />
        <img *ngIf="currentPanel === 'reports'" src="./assets/icon/reports-hover.png" />
        <span>Report</span>
    </div>
    <div class="nav-item" [class.selected]="currentPanel === 'logout'" (tap)="logout()">
        <img src="./assets/icon/logout.png" />
        <span>Sign Out</span>
    </div>
</div>
