.white {
    background: #fff !important;
    padding: 5% !important;
}

.owner {
    text-align: left;
    ba h1 {
        text-align: left;
    }
    .filter-date {
        position: fixed;
        top: 3%;
        right: 5%;
        width: 50px;
        height: 50px;
        float: right;
        .date {
            background: transparent;
            opacity: 0;
            position: absolute;
        }
        .date-icon {
            width: 50px;
            height: 50px;
            background: #fffff;
            text-align: center;
            font-size: 22px;
            padding-top: 14%;
            border-radius: 36px;
            color: #004dcf;
        }
    }
}

.filter.owner {
    width: 90% !important;
    background: #fff !important;
    border-radius: 3px !important;
    overflow: auto;
    margin: 17px auto 0 !important;
    border: 1px solid #0048d2;
    color: #0048d2;
    .option {
        float: left;
        width: 33.3%;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        border-right: 1px solid #0042d4;
        &.selected {
            background: #0048d2 !important;
            color: #fff;
        }
    }
    .option:last-child {
        border: none;
    }
    .select.select-md {
        background-color: #ffffff;
        float: left;
        max-width: 100% !important;
        width: 100%;
        text-align: center;
        color: #8c8c8c;
        font-weight: bold;
        font-size: 15px;
        padding: 5px 20px 5px 19px !important;
        .select-text {
            color: #8c8c8c !important;
        }
        .select-icon {
            /*display:none;*/
        }
    }
    .select {
        max-width: 100%;
        text-align: center;
        color: #000 !important;
        font-weight: bold;
    }
}

.main-content.owner {
    margin: 15vh 0px 0px !important;
    width: 100%;
    overflow: hidden;
    background: #fff;
    &.inventory {
        margin-top: 36%;
    }
    .card {
        background: #f7f7f7;
        margin: 0 !important;
    }
}

.card {
    box-shadow: none !important;
    .total-revenue {
        border: none !important;
        position: relative;
        overflow: auto;
        padding-bottom: 13px;
        h2 {
            font-size: 15px;
            margin: 0px 10px 0px !important;
        }
        p {
            margin: 0 10px;
            font-weight: 600;
            color: #a2a2a2;
        }
        .data {
            width: 47% !important;
            float: right;
            position: absolute;
            top: 0px;
            right: 10px;
            span.total {
                font-size: 19px !important;
                font-weight: bold;
                border: none;
                color: #4CAF50;
                margin: 0 !important;
                display: block;
                text-align: right;
                float: right;
                padding: 0;
                width: auto !important;
            }
            .percentage {
                float: right;
                width: 100%;
                text-align: right;
                color: #4CAF50;
                span {
                    margin: 0;
                    font-size: 11px;
                }
                &.decrease {
                    color: red;
                }
            }
            .growth {
                width: 58px;
                height: 58px;
                background: #8BC34A;
                border-radius: 35px;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                padding: 13px 0px;
                text-align: center;
                border: 4px solid rgba(244, 255, 231, 0.68);
                float: right;
                &.decrease {
                    background: #F44336 !important;
                }
            }
        }
        span.instruction {
            display: block;
        }
    }
    .breakdown {
        overflow: hidden;
        padding: 0 10px;
        ul {
            padding: 0;
            list-style: none;
            li {
                float: left;
                width: 100%;
                height: 30px;
                margin-bottom: 15px;
                border-top: 1px dotted rgba(173, 173, 173, 0.52);
                padding-top: 11px;
                .icon {
                    float: left;
                    width: 8%;
                    font-size: 15px;
                    color: #01c094;
                }
                .branch {
                    float: left;
                    width: 55%;
                    font-size: 12px;
                    font-weight: bold;
                }
                .total {
                    float: left;
                    width: 37%;
                    border: none;
                    text-align: right !important;
                    padding: 0;
                    height: 30px;
                    span {
                        margin: 0 !important;
                        font-size: 12px;
                        padding: 3px 9px;
                        border: 1px solid #4caf4f;
                        border-radius: 5px;
                        font-weight: bold;
                        color: #4caf4f;
                    }
                }
            }
        }
    }
    &.products {
        padding: 10px 0;
        i {
            font-size: 36px;
            float: left;
            color: rgb(1, 192, 148);
            padding: 5px 15px;
        }
        .info {
            float: left;
            span.product {
                display: block;
                margin: 0 10px 0 0px !important;
                font-size: 24px !important;
                color: #4caf4f;
                font-weight: bold;
                line-height: 24px;
            }
            span.label {
                margin: 0 0 0 0px !important;
                color: rgb(163, 163, 163);
                font-weight: bold;
            }
        }
        .top-list {
            background: #fff;
            margin-top: 10px;
            overflow: hidden;
            ul {
                padding: 0;
                list-style: none;
                li {
                    width: 100%;
                    float: left;
                    color: #22252a;
                    padding: 10px;
                    font-size: 12px;
                    .icon {
                        float: left;
                        width: 10%;
                        text-align: center;
                        i.fa.fa-star {
                            font-size: 15px;
                            color: #FFEB3B;
                            padding: 0;
                            float: none;
                        }
                    }
                    .product {
                        float: left;
                        width: 70%;
                        font-weight: bold;
                    }
                    .count {
                        float: left;
                        width: 20%;
                        text-align: right;
                        span {
                            background: #01c094;
                            font-weight: bold;
                            border-radius: 2px;
                            padding: 2px 5px;
                            margin: 0 !important;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.button-class.footer.nav {
    padding: 10px;
    background: #fff;
    z-index: 1000;
    .nav-item {
        width: 20%;
        float: left;
        text-align: center;
        i {
            display: block;
            text-align: center;
            font-size: 20px;
            color: #8e8e8e;
        }
        span {
            display: block;
            text-align: center;
            font-size: 9px;
            color: #8e8e8e;
        }
        img {
            width: 25px;
        }
        &.selected {
            i {
                color: #00C094;
            }
            span {
                color: #2a24e1;
                font-weight: bold;
            }
            img {
                -webkit-filter: none;
                filter: none;
                opacity: 1;
            }
        }
    }
}

.product-list {
    ul {
        padding: 10px;
        list-style: none;
        li {
            width: 100%;
            float: left;
            padding: 8px 0px;
            border-top: 1px dotted rgba(0, 0, 0, 0.15);
            font-weight: bold;
            font-size: 13px;
            color: #3f485b;
            .name {
                float: left;
            }
            .value {
                float: right;
                text-align: center;
                background: #d3ebb5;
                color: #33461e;
                border-radius: 20px;
                padding-top: 5px;
                font-size: 11px;
                padding: 5px 10px;
                &.out {
                    background: rgb(255, 178, 172);
                    color: #500000;
                }
                &.low {
                    background: rgba(255, 193, 7, 0.33);
                    color: #564206;
                }
            }
        }
    }
}

.title-section {
    padding: 10px 20px;
    width: 100%;
    background: #0048d1;
    float: left;
    b {
        float: left;
        color: #fff;
    }
    .legend {
        float: left;
        i {
            margin: 0px 2px 0px 18px;
        }
        span {
            color: #fff;
            font-weight: bold;
            font-size: 10px;
        }
    }
}

.stores {
    overflow: auto;
    width: 100%;
    float: left;
    height: 0;
    .store {
        float: left;
        overflow: auto;
        padding: 10px 20px;
        border-bottom: 1px solid #efefef;
        width: 100%;
        .icon {
            float: left;
            width: 12px !important;
            height: 12px !important;
            margin: 5px 10px 0px 0px;
            background: #0042d4;
            border-radius: 3px;
        }
        .details {
            float: left;
            width: 60%;
            span.name {
                display: block;
                font-size: 13px;
            }
            span.discounts {
                display: block;
                font-size: 9px;
                font-weight: bold;
                padding: 2px 6px;
                background: rgba(255, 0, 0, 0.15);
                width: auto;
                float: left;
                border-radius: 3px;
                color: #b70000;
            }
            span.label {
                float: left;
                font-size: 9px;
                text-transform: uppercase;
                margin-right: 5px;
                padding: 3px 0px;
                color: #6b6b6b;
            }
        }
        .sales {
            float: right;
            font-size: 14px;
            font-weight: bold;
            span.franchisee {
                display: block;
                font-size: 11px;
                color: #003bd6;
                text-align: right;
            }
            span.net {
                display: block;
                text-align: right;
            }
        }
    }
    div:last-child .store {
        border-bottom: 1px solid #efefef;
    }
}

.stores-container {
    overflow: scroll;
    background: #fff;
}

.reports {
    padding: 20px 20px;
    overflow: scroll;
    .headline {
        h2 {
            font-size: 14px;
            font-weight: bold;
            margin: 10px 0px 3px;
        }
        p {
            font-size: 11px;
            color: #5d5d5d;
            margin: 0;
        }
    }
    .graph {
        width: 100%;
        float: left;
        margin: 10px 0px;
        overflow: hidden;
        .month {
            float: left;
            width: 7.69%;
            height: 200px;
            position: relative;
            .label {
                font-size: 8px;
                text-align: center;
                line-height: 12px;
                color: #5d5d5d;
                font-weight: bold;
                position: absolute;
                bottom: 0px;
                width: 90%;
            }
            .bar-container {
                width: 100%;
                height: 160px;
                position: absolute;
                bottom: 26px;
                span {
                    background: #0048d1;
                    width: 53%;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    margin-left: 50%;
                    left: -25%;
                    height: 0%;
                }
            }
        }
    }
    .list {
        float: left;
        width: 100%;
        overflow: auto;
        margin: 20px 0px 50px;
        .section-title {
            float: left;
            width: 100%;
            border-bottom: 2px solid #e0e0e0;
            font-weight: bold;
            padding: 5px;
            font-size: 11px;
        }
        .item {
            float: left;
            overflow: auto;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #e0e0e0;
            .label {
                width: 50%;
                float: left;
                font-size: 11px;
                color: black;
                text-transform: capitalize;
            }
            .value {
                color: #0048d0;
                font-size: 12px;
                float: left;
                width: 50%;
                text-align: right;
                font-weight: bold;
            }
        }
    }
}

.inventories.owner {
    box-shadow: none;
    width: 96%;
    left: 2%;
    top: 150px;
    border-radius: 0 !important;
}

.card.inventory {
    text-align: center;
    color: #fff;
    background: #004dcf !important;
    border-radius: 0 !important;
}

.total-sold {
    float: left;
    width: 100%;
    padding: 10px;
    border-top: 3px solid #f3f3f3;
    b {
        float: right;
        font-weight: bold;
        color: #ff5604;
    }
    span {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.filter.owner button {
    float: left;
    width: 80%;
}

.date h2 {
    font-size: 14px;
    color: #424242;
    text-align: center;
    margin: 15px 0px 0px;
    font-weight: bold;
}

.main-content.owner {
    .sales-info {
        overflow: auto;
        .card.sales {
            background: #ffffff;
            width: 50%;
            text-align: left;
            float: left;
            margin: 13px 12px !important;
            .total {
                font-size: 24px;
                border: none;
                font-weight: bold;
                color: #289c2d;
                margin: 0 !important;
                padding: 0;
            }
            .percentage {
                width: 100%;
                color: #4CAF50;
                span {
                    margin: 0;
                    font-size: 11px;
                }
                &.decrease {
                    color: red;
                }
            }
        }
        span.sales-label {
            margin: 0 !important;
            text-transform: uppercase;
            font-size: 10px;
            display: block;
            font-weight: bold;
            color: #6f6f6f;
        }
        .sales-breakdown {
            float: left;
            width: 40%;
            .card {
                background: #fff !important;
                text-align: right;
                margin: 13px 0px 6px !important;
                padding: 8px;
                .total {
                    font-size: 15px;
                    border: none;
                    font-weight: bold;
                    color: #289c2d;
                    margin: 0 !important;
                    padding: 0;
                }
            }
        }
    }
}


/* New Styling */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

ion-fab[bottom] {
    bottom: 9%;
    position: fixed;
    z-index: 1000;
    button.fab-calendar {
        background-image: linear-gradient(-134deg, #2F00DB 0%, #2447E7 100%) !important;
        i {
            font-size: 1.7em;
        }
    }
    .date {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 103px;
        opacity: 0;
    }
}

header.owner-panel {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(-134deg, #2F00DB 0%, #2447E7 100%) !important;
    webkit-clip-path: polygon(0 0, 1600px 0, 1600px -15%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px -15%, 0 100%);
    padding-bottom: 50%;
    position: fixed;
    height: 50vh;

    &.hide-overview {
        webkit-clip-path: polygon(0 0, 1600px 0, 1600px -15%, 0 100%);
        -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);
        clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);
        padding-bottom: 0% !important;
        height: 17vh;
    }
    &.reports{
        height: 15vh !important;
    }
    &.delivery {
        height: 10vh !important;
    }
    .filter {
        width: 100% !important;
        .option {
            &.selected {
                background: #050b96 !important;
            }
        }
    }
    .date {
        h2 {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .overview {
        text-align: center;
        padding: 20px 0px;
        opacity: 1;
        .label {
            font-size: 11px;
            text-transform: uppercase;
            display: block;
            letter-spacing: 3px;
            opacity: 0.5;
            font-weight: bold;
        }
        .sales {
            .currency {
                font-size: 20px;
                font-weight: bold;
                /* float: left; */
                letter-spacing: 1px;
                opacity: 0.8;
            }
            .value {
                font-size: 31px;
                font-weight: bold;
                letter-spacing: -1.5px;
                /* float: left; */
            }
            p {
                width: 60%;
                margin: 0 auto;
                color: #81ff22;
                &.decrease {
                    color: #ff6a3b;
                }
            }
        }
        &.hide-overview {
            opacity: 0;
        }


    }
}

.main-content {
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    position: relative;
    background: transparent !important;
    &.owner {
        height: 64vh !important;

        &.show-breakdown {
            margin: 17vh 0px 0px !important;
            padding: 0;
            height: 76vh !important;
            overflow: scroll !important;

            .sales-container {
                border-radius: 0;
                .legends {
                    display: block;
                }
                p {
                    display: none;
                }
            }
            .stores {
                height: 58vh;
                &.franchisee {
                    padding-bottom: 10vh;
                }
            }
        }

        &.delivery {
            margin-top: 10vh !important;
            height: 83vh !important;
        }



        margin: 28vh 0px 0px !important;
        padding: 20px;

        &.daily-sales-report {
            margin-top: 6vh !important;
            height: 86vh !important;
            .reports{
              height: 85vh !important;
            }
        }
        .sales-container {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            padding: 20px;
            background: #fff;
            border-radius: 6px;
            box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.13);
            .label {
                text-transform: uppercase;
                display: block;
                font-size: 10px;
                letter-spacing: 2px;
                color: #616161;
                font-weight: bold;
                float: left;
            }
            .sales {
                display: block;
                font-size: 24px;
                float: left;
                width: 80%;
            }
            p {
                font-size: 11px;
                display: block;
                float: left;
                color: #9c9c9c;
                margin: 0;
                display: block;
            }
            .legends {
                display: none;
                float: left;
                width: 100%;
                overflow: auto;
                font-size: 10px;
                color: #4e4e4e;
                border-top: 1px dotted #dadada;
                padding: 15px 0px 0px;
                margin-top: 15px;
                .legend {
                    float: left;
                    margin-right: 11px;
                }
            }
            &.report-card {
                width: 90% !important;
                margin: 17px 5% 0px !important;
                border-radius: 6px !important;
            }
        }
        .card {
            &.inventory {
                background: #0015a2 !important;
                .total-revenue {
                    padding: 0px;
                }
            }
        }
        .inventories {
            &.owner {
                top: 6vh;
                height: 68vh !important;
                padding-bottom: 10vh;
            }
        }
    }

}

.sub-navigation {
    position: absolute;
    width: 90%;
    bottom: 0;
    z-index: 1000;
    .option {
        float: left;
        padding: 9px 21px;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 4px solid transparent;
        &.selected {
            border-color: #ffc500;
            color: #ffcc00;
        }
    }

    &.daily-sales-report {
        bottom: 8vh;
    }
}

.filter-reports {
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.13);
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    label {
        font-size: 10px;
        display: block;
        color: #8e8e8e;
    }

    ion-select.select {
        max-width: 100%;
        padding: 0px 10px 10px 0px;
        font-size: 16px;
        font-weight: bold;
            position: relative;
    }

    .date-range {
       overflow: auto;
       .from, .to{
         width: 50%;
         float: left;
       }

       .to {
           text-align: right;
       }

       span {
           font-size: 19px;
           font-weight: bold;
       }
   }

   .item-cover {
       height: auto !important;
   }

    button.generate {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      font-weight: bold;
      color: #fff;
      background: #2d0bdc;
  }

}

.sales-list {
  overflow: scroll;
  height: 46.5vh;
  margin-top: 10px;
  .item {
      width: 100%;
      overflow: auto;
      background: #fff;
      margin-top: 10px;
      padding: 7px 15px;
      border-radius: 6px;
      .date {
          float: left;
          padding: 0px 20px 0px 5px;
          .month {
              display: block;
              text-align: center;
              font-size: 11px;
              width: 100%;
              color: #a7a7a7;
          }
          .day {
              display: block;
              width: 100%;
              font-size: 21px;
              font-weight: bold;
              line-height: 17px;
              text-align: center;
          }
      }

      .sales-details {
          float: left;
          width: 65%;
          padding: 8px 0px;
          span.net-sale {
              display: block;
              font-size: 13px;
              font-weight: bold;
              float: left;
              margin-right: 10px;
          }
          span.discounts {
              display: block;
              font-size: 9px;
              font-weight: bold;
              padding: 2px 6px;
              background: rgba(255, 0, 0, 0.15);
              width: auto;
              float: left;
              border-radius: 3px;
              color: #b70000;
          }
      }
      .performance {
        width: 15%;
        float: right;
        text-align: center;
        img {
            width: 50%;
        }
        span{
          font-size: 9px;
          font-weight: bold;
          display: block;
          float: left;
          width: 100%;
          text-align: center;
          &.inc {

              color: #5cd000;
          }
          &.dec {
              color: red;
          }
        }
      }

  }
}

.summary {
    width: 100%;
    overflow: auto;
    background: #fff;
    margin-top: 10px;
    padding: 15px;
    border-radius: 6px;
    b {
       display: block;
       font-size: 11px;
       font-weight: 300;
    }
    .total-sales {
        float: left;
        width: 50%;
        span {
            font-weight: bold;
            color: #4CAF50;
            display: block;
        }
    }

    .discounts {
        float: left;
        width: 27%;
        span {
            display: block;
            font-weight: bold;
            color: red;
        }
    }

    .sold {
        float: left;
        width: 20%;
        text-align: center;
        span {
            color: #ffc108;
            font-weight: bold;
        }
    }
}

.delivery {
  overflow: scroll;
  padding-top: 11px;
  .deliveries {
    .item {
        width: 90%;
        overflow: auto;
        background: #fff;
        padding: 7px 15px;
        border-radius: 6px;
        margin: 5px auto;
        position: relative;
        span.store {
            font-weight: bold;
            font-size: 12px;
            display: block;
            width: 50%;
            float: left;
        }
        .meta {
            overflow: auto;
            width: 55%;
            float: left;
            span.remarks {
                font-size: 11px;
                color: #383838;
                margin-right: 7px;
                display: block;
            }
            span.date {
                font-size: 11px;
                color: grey;
            }
        }
        .actions {
            float: right;
            position: absolute;
            top: 14px;
            right: 13px;
            button.delivery {
                padding: 4px 10px;
                background: #B8E986;
                font-size: 10px;
                border-radius: 12px;
                text-transform: uppercase;
                font-weight: bold;
                color: #003e02;
                &.unpaid {
                    background: #9E9E9E;
                    color: #fff;
                }
                &.pending {
                    background: #FFC107;
                    color: #4e2f00;
                }
            }
        }
    }
  }
}
