<header class="transactions-panel">
    <button ion-button icon-only menuToggle (click)="onToggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
    </button>
    <h1>{{branchName}}</h1>
    <div class="header-nav">
        <button [class.active]="activePanel === 'transactions'"><i class="fa fa-shopping-basket" aria-hidden="true" (click)="activePanel = 'transactions'"></i></button>
        <button [class.active]="activePanel === 'bottles'"><i class="fa fa-users" aria-hidden="true" (click)="activePanel = 'bottles'"></i></button>
        <button [class.active]="activePanel === 'inventory'"><i class="fa fa-sliders" aria-hidden="true" (click)="activePanel = 'inventory'"></i></button>
    </div>
</header>

<!--  TRANSACTIONS  -->
<div class="main-content coordinator transaction animated flipInY" [style.height.px]="height * 0.85" [hidden]="activePanel != 'transactions'">
    <h6 *ngIf="noTransactions">No transactions yet</h6>
    <div class="card" *ngFor="let transaction of transactions" (click)="onClickTransaction(transaction)">
        <div class="transactions">
            <div class="icon">
                <span class="status" *ngIf="transaction.status != 'void' && transaction.sale_type != 'redeem'">S</span>
                <span class="status redeem" *ngIf="transaction.status != 'void' && transaction.sale_type == 'redeem'">R</span>
                <span class="status void" *ngIf="transaction.status == 'void'">V</span>
            </div>
            <div class="info">
                <span class="or" *ngIf="!transaction.invoice_no">#{{transaction.or_no}}</span>
                <span class="or" *ngIf="transaction.invoice_no">#{{transaction.invoice_no}}</span>
                <span class="total" *ngIf="transaction.sale_type != 'redeem'">₱{{transaction.total - transaction.discount | number : '1.2-2'}}</span>
                <span class="total" *ngIf="transaction.sale_type == 'redeem'">₱0.00</span>
                <span class="items">{{transaction.items_string}}</span>
            </div>
        </div>
    </div>
</div>

<!--  BOTTLES   -->
<page-daily-transaction-details [hidden]="activePanel !== 'bottles'" [height]="height * 0.85" [branchKey]="branchKey"></page-daily-transaction-details>

<!--  INVENTORY  -->
<page-coordinator-inventory *ngIf="activePanel === 'inventory'" [currentBranchId]="branchId"></page-coordinator-inventory>

