.store {
    .icon {
        float: left;
        width: 10%;
        font-size: 29px;
        text-align: center;
        color: #00C094;
        padding-top: 5px;
    }
    .info {
        float: left;
        width: 80%;
        padding: 10px;
        h5 {
            font-size: 16px !important;
            font-weight: bold;
        }
        span {
            margin: 0;
        }
    }
}

.transactions {

    .icon {
        float: left;
        width: 10%;
        text-align: center;
        span.status {
            width: 25px !important;
            height: 25px;
            background: #4CAF50;
            display: block;
            text-align: center;
            margin: 0 !important;
            font-size: 17px !important;
            font-weight: bold;
            color: #fff;
            border-radius: 50px;
            line-height: 25px;
            margin-top: 3px !important;
            &.void {
                background: #F44336;
            }
        }
    }
    .info {
        float: left;
        width: 90%;
        padding-left: 20px;
        span.or {
            font-size: 13px !important;
            font-weight: bold;
            float: left;
            text-align: left;
            line-height: 16px;
            width: auto !important;
            margin: 0 !important;
        }
        span.total {
            float: right;
            font-size: 11px !important;
            width: auto !important;
            font-weight: bold;
            border: 1px solid #434c60;
            padding: 1px 10px;
            border-radius: 5px;
            text-align: right;
            margin: 0 !important;
        }
        span.items {
            width: 65%;
            float: left;
            text-align: left;
            font-size: 10px !important;
            margin: 0 !important;
            line-height: 12px;
        }
    }
}

.transactions-panel {
    padding: 8% 2% 0%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.46);
    .button {
        background: none;
        font-size: 14px !important;
        width: auto;
        height: auto;
        color: #fff !important;
        padding: 0 !important;
        min-width: 0 !important;
    }
    h1 {
        font-size: 14px;
        float: left;
        line-height: 23px;
    }
    .header-nav {
        float: right;
        button {
            background: none;
            color: #fff;
            font-size: 17px;
            padding-bottom: 18px;
            &.active {
                border-bottom: 3px solid #fff;
                padding-bottom: 15px;
            }
        }
    }
}

.transactions {
    .icon {
        float: left;
        width: 10%;
        text-align: center;
        span.status {
            width: 30px !important;
            height: 30px;
            background: #4CAF50;
            display: block;
            text-align: center;
            margin: 0 !important;
            font-size: 23px !important;
            font-weight: bold;
            color: #fff;
            border-radius: 50px;
            line-height: 29px;
            &.void {
                background: #F44336;
            }
            &.redeem {
                background: #757e8f;
            }
        }

    }
}

.main-content {

    h6 {
        text-align: center;
        margin-top: 50px;
    }

    &.transaction {
        margin-top: 20% !important;
        overflow: scroll;
    }

    &.bottles {
        margin-top: 23% !important;
        span.panel.date {
            display: block;
            width: 100%;
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 9px;
        }
        .date-container {
            width: 100%;
            height: 71px;
            overflow: scroll;
            .date-selection {
                height: 63px;
                /*width: 470px;*/
                .card.date {
                    width: 60px;
                    height: 60px;
                    float: left;
                    padding: 3px !important;
                    margin: 0 4px 0px 0;
                    &.current {
                        background: #343c4d;
                        .day,
                        .date {
                            color: #fff;
                        }
                    }
                    .day {
                        font-size: 9px;
                        margin: 0;
                        display: block;
                        text-align: center;
                    }
                    span.date {
                        font-size: 25px;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
        .sale {
            width: 60%;
            float: left;
            border-right: 1px solid #dcdcdc;
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .card span.value {
            font-size: 22px;
            display: block;
            font-weight: bold;
            margin: 0;
            color: #8BC34A;
            padding-left: 12px;
            display: block;
            width: auto;
        }
        .card span.label {
            color: #676767;
            font-size: 9px !important;
            display: block;
            width: auto;
        }
        .sold {
            float: right !important;
            width: 38%;
            display: block;
            background: #8BC34A;
            padding-top: 10px;
            padding-bottom: 10px;
            span.value,
            span.label {
                color: #fff;
            }
        }
    }
    span.section-title {
        display: block;
        width: 100%;
        float: left;
        font-size: 15px;
        font-weight: bold;
        margin: 16px 0px 10px;
    }
    .card {
        .overview {
            .icon {
                width: 25px;
                height: 25px;
                float: left;
                background: #343c4c;
                color: #fff;
                text-align: center;
                font-weight: bold;
                border-radius: 24px;
                line-height: 25px;
                margin: 10px 5px;
            }
            .name {
                float: left;
                font-size: 14px;
                margin: 10px 10px;
                font-weight: bold;
                width: 50%;
                span.sales {
                    font-size: 12px;
                    display: block;
                    margin: 0;
                    font-weight: 500 !important;
                    color: #4b566b;
                }
            }
            .sold-items {
                float: right;
                span {
                    font-size: 10px !important;
                    color: grey;
                }
                span.total-sold {
                    display: block;
                    margin: 0;
                    width: auto !important;
                    text-align: center;
                    font-size: 18px !important;
                    line-height: 12px;
                    margin-top: 10px;
                    color: #8ac44a;
                    font-weight: bold;
                }
            }
        }
        .details {
            &.hidden{
                display:none;
            }

            .staff-transaction {

                border-bottom: 1px solid #efefef;
                /*margin-bottom: 10px;*/
                padding: 10px;
                height:40px;

                /*border: 1px solid #efefef;*/


                .or {
                    font-weight:bold;
                    float:left;
                }
                .or-details {

                    width:115px;
                    float:right;

                    .or-price {

                        display: inline-block;
                        font-weight: 400;
                        font-size: 11px;
                        border: 1px solid #434c60;
                        border-radius: 6px;
                        text-align: center;
                        padding: 0 5px;

                        .price{

                            font-weight:bold;
                            /*color:#8BC34A;*/
                            color:#434c60;
                            margin:0;

                        }
                    }

                    .or-sold-items{

                        width: 36px;
                        color: #8BC34A;
                        font-weight: bold;
                        text-align: center;
                        float: right;

                        .sold-items{
                            margin:0;
                        }
                    }


                }
            }

        }
    }
}

.staff-transactions {
    height: 0;
    overflow: hidden;
    div {
        border-bottom: 1px dotted #e6e6e6;
        padding: 5px;
        overflow: auto;
        .item {
            float: left;
            border: none;
            .or {
                margin: 0;
                font-weight: bold;
                i {
                    margin-right: 9px;
                    font-size: 10px;
                    color: #8ac44a;
                }
            }
        }
        .total {
            font-size: 12px;
            width: auto !important;
            float: right;
            border: none;
        }
    }
}
