<div class="main-content coordinator bottles animated flipInY" [style.height.px]="height" [hidden]="hidden" >

    <span class="panel date">{{currentMonth}} {{currentYear}}</span>

    <div class="date-container">
        <div class="date-selection">
            <div class="card date" *ngFor="let date of lastFiveDays" [class.current]="currentDateFilter == date.filterDate" (tap)="getSummaryByDate(date.date)">
                <span class="day">{{date.dayString}}</span>
                <span class="date">{{date.dayDisplay}}</span>
            </div>
        </div>
    </div>

    <span class="section-title">
        Sales Summary
        <!--<div class="filter">
            <span class="selected">Daily</span>
            <span>Monthly</span>
        </div>-->
    </span>

    <div class="card sale">
        <span class="value">₱{{dailySalesSummary.net_sales | number : '1.2-2'}}</span>
        <span class="label">TOTAL SALES</span>
    </div>
    <div class="card sold">
        <span class="value">{{dailySalesSummary.sold_items | number }}</span>
        <span class="label">ITEMS</span>
    </div>

    <span class="section-title">Staff</span>

    <p *ngIf="noStaffDailySummary">No Staff transactions</p>

    <div class="card" *ngFor="let staff of staffDailySalesSummary" (tap)="getStaffTransactionsById(staff.staff_id)">
        <div class="overview">
            <div class="icon">{{staff.getInitials()}}</div>
            <div class="name">
                {{staff.firstname}} {{staff.lastname}}
                <span class="sales">Total Sales: ₱{{staff.net_sales | number : '1.2-2'}}</span>
            </div>
            <div class="sold-items">
                <span class="total-sold">{{staff.sold_items | number}}</span>
                <span>SOLD</span>
            </div>
        </div>
        <div class="details" [class.hidden]="staff.staff_id != currentStaffId">

            <div class="loading-details" style="margin-left:10px;" *ngIf="loadingStaffTransactions">
                <i class="fa fa-refresh fa-spin"></i> Loading Transactions...
            </div>

            <div class="staff-transaction" *ngFor="let transaction of staffTransactions">
                <div class="or">#{{transaction.or_no}}</div>
                <div class="or-details">
                    <div class="or-price">
                        <span class="price">₱{{transaction.net_sales | number : '1.2-2'}}</span>
                    </div>
                    <div class="or-sold-items">
                        <span class="sold-items">{{transaction.sold_items | number }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
