.main-content.coordinator .card .overview .sold-items span.total-sold {
    display: block;
    margin: 0;
    width: auto !important;
    text-align: center;
    font-size: 18px !important;
    line-height: 12px;
    margin-top: 10px;
    color: #8ac44a;
    font-weight: bold;
    float: none;
    padding: 0;
    border: none;
}