<ion-content class="container">
    <div class="content-one">
        <div class="icon"><img src="./assets/logo.png"/></div>
    </div>
    <h6 class="app-version" *ngIf="isCordovaEnabled">v {{ version }}</h6>
    <div class="container-lng">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div id="logo-container"></div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 form">
                    <form action="" id="loginForm">
                        <div class="form-group">
                            <label><b>EMAIL ADDRESS</b></label>
                            <div class="form-group input-group">
                                <input class="form-control" type="email" name='username' [(ngModel)]="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>PASSWORD</b></label>
                            <div class="form-group input-group">
                                <input class="form-control" type="password" name='password' [(ngModel)]="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <button (tap)="onLogin()" type="button" class="btn btn-primary btn-block">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ion-content>
