div.well {
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    background: linear-gradient(42deg, #0EADE8, #205CD3, #2004BE);
    -webkit-animation: movingBackground 8s ease infinite;
    animation: movingBackground 8s ease infinite;
    @media (min-width: 576px) {
        max-width: 100%;
    }
}

.Absolute-Center.is-Responsive {
    width: 100%;
    height: 55%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

.content-one {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    .icon {
        width: 20%;
        margin: 10% auto 14px;
        max-width: 75px;
    }
    span {
        font-size: 14px;
        color: #ffffffcc;
    }
}

.form {
    max-width: 100% !important;
    label {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        margin: 0 !important;
    }
    .errors,
    .error {
        color: #ff7474 !important;
    }
    input {
        background: rgba(255, 255, 255, 0.15) !important;
        padding: 13px;
        font-size: 14px;
        color: #fff !important;
        border-radius: 6px;
    }
    button {
        font-size: 15px !important;
        padding: 15px !important;
        font-weight: bold !important;
        background: #fff !important;
        color: #22a8fe !important;
        border-radius: 24px !important;
        border: none !important;
        margin-top: 15px;
    }
}

.errors li,
.error li {
    list-style: none;
    font-size: 13px;
}

form#loginForm {
    padding: 26px;
    background: #fff;
    margin-top: 15px;
    border-radius: 7px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.12156862745098039);
    label {
        color: #001071;
        font-size: 11px;
    }
    input {
        background: #ececec !important;
        color: #000 !important;
    }
    button.btn.btn-primary.btn-block {
        background: #0819bd !important;
        color: #fff !important;
    }
}

.app-version {
    text-align: center;
}
