// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.activePageHighlight {
    background-color: map-get($colors, light);
}

*::-webkit-scrollbar {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body,
html,
div,
ul,
li,
span,
p,
a,
h1,
button
{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

header {
    position: absolute;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(-134deg, #5E6B82 0%, #30394B 100%) !important;
    color: #fff;
    padding: 5% 5% 15%;
    text-align: right;
    .info {
        text-align: center;
        margin: 13%;
        button {
            padding: 4% 12%;
            margin-top: 20px;
            border-radius: 100px;
            background: #fff;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            color: #3b4456;
        }
        h1 {
            text-align: center;
        }
    }
    h1 {
        text-align: right;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }
    p {
        font-size: 12px;
        color: #ffffffa3;
        margin: 0;
    }
    .button {
        float: left;
        color: #000 !important;
        background: #fff;
        border-radius: 100px;
        width: 50px;
        height: 50px;
    }
}

.ion-page {
    background: #f3f3f3;
}

.content {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    background: #323d54;
    button.item {
        background: #313d54;
        font-size: 15px;
        color: #ffffff91 !important;
        width: 92%;
        margin: 0 auto;
        border-bottom: 0px solid #ffffff91 !important;
    }
}

.toolbar-background {
    background: #323d54;
    border: none !important;
}

.toolbar-title {
    color: #fff !important;
    font-family: 'Quicksand', sans-serif;
}

.main-content {
    font-family: 'Quicksand', sans-serif;
    margin-top: 30%;
    width: 90%;
    margin: 25% auto 0;
    overflow: scroll;
    .card {
        border-radius: 5px;
        padding: 11px;
        border: none;
        margin-bottom: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
        h5 {
            font-size: 15px;
            margin: 0;
            color: #444d61;
        }
        h2 {
            font-size: 20px;
            margin: 25px 14px 5px;
        }
        span {
            font-size: 13px;
            width: 100%;
            margin: 0 15px 15px;
        }
    }
}

.button-class.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    button.btn-primary {
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        background-image: linear-gradient(-134deg, #5DC0FF 0%, #0D9AF9 89%, #0395F8 100%);
        &.red {
            background-image: linear-gradient(-134deg, #d60f00 0%, #b30c00 89%, #c70e00 100%);
        }
    }
}

.nav-group {
    width: 80%;
    margin: 0 auto;
    label {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
        width: 100%;
        padding: 8px 0;
    }
    ul {
        padding: 0;
        list-style: none;
        width: 100%;
        li {
            float: left;
            width: 100%;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            padding: 10px;
            .icon {
                float: left;
                width: 12%;
                color: #ffffff6e;
                &.branch {
                    i {
                        font-size: 19px;
                        color: #2DA9B3;
                    }
                }
            }
        }
    }
}

.coordinator {
    width: 90%;
    height: 85%;
    margin: 20% 6%;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
}
