<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content menuClose>
        <div class="nav-group">
            <label>General</label>
            <ul>
                <li (tap)="goToHomePage()">
                    <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    <div class="label">Home</div>
                </li>
                <li (tap)="goToAddBranchPage()" *ngIf="role != 'owner'">
                    <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    <div class="label">Add Branch</div>
                </li>
                <li (tap)="logout()">
                    <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                    <div class="label">Sign Out</div>
                </li>
            </ul>
        </div>

        <div class="nav-group" *ngIf="role != 'owner'">
            <label>Branches</label>
            <ul>
                <li *ngFor="let page of pages"
                    (tap)="openTransaction(page)">
                    <div class="icon branch"><i class="fa fa-square" aria-hidden="true"></i></div>
                    <div class="label">{{ page.title }}</div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
