<header>
    <div class="page-info">
        <button ion-button icon-only (tap)="returnToTransactionsPage()">
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
        <h1>#{{ transaction.or_no }}</h1>
        <p><b>Customer: </b>{{ transaction.customer_firstname }} {{ transaction.customer_lastname }}</p>
        <p><b>Branch: </b>{{ transaction.branch_name }}</p>
    </div>
</header>
<div class="main-content">
    <div class="card">
        <div class="card-head">
            <h5><i class="fa fa-user" aria-hidden="true"></i> {{ transaction.staff_firstname }} {{ transaction.staff_lastname }}</h5>
        </div>
        <div class="wrapper">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ transaction.items_string }}</td>
                        <td *ngIf="transaction.sale_type != 'redeem'">{{ transaction.grand_total | number : '1.2-2' }}</td>
                        <td *ngIf="transaction.sale_type == 'redeem'">0.00</td>
                    </tr>
                </tbody>
            </table>
            <div class="total">
                <p>
                    <b *ngIf="transaction.sale_type != 'redeem'">Receipt Total: {{ transaction.grand_total | number : '1.2-2' }}</b>
                    <b *ngIf="transaction.sale_type == 'redeem'">Receipt Total: 0.00</b>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="button-class footer">
    <button ion-button full class="btn-primary button-full-md red" (tap)="showConfirm(transaction)"
            [disabled]="transaction.status == 'void'">VOID THIS TRANSACTION</button>
</div>
