thead {
    background: #139bf9;
    color: #fff;
    border: none;
}

table {
    margin-top: 22px;
}

th {
    border: none !important;
}

.total {
    width: 100%;
    padding: 10px;
    text-align: right;
    border-top: 1px solid #909090;
}