<header>
    <div class="page-info" >
        <button ion-button icon-only menuToggle (tap)="onToggleMenu()">
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <h1>{{branchName}}</h1>
        <h1 *ngIf="!branchKey">Branches</h1>
        <p>Manage daily sales transaction per branch.</p>
    </div>
</header>

<div class="main-content coordinator" [style.height.px]="height * 0.8">
    <div class="card" *ngFor="let transaction of transactions" (tap)="onClickTransaction(transaction)">
        <div class="transactions">
            <div class="icon">
                <span class="status" *ngIf="transaction.status != 'void'">S</span>
                <span class="status void" *ngIf="transaction.status == 'void'">V</span>
            </div>
            <div class="info">
                <span class="or" *ngIf="!transaction.invoice_no">#{{transaction.or_no}}</span>
                <span class="or" *ngIf="transaction.invoice_no">#{{transaction.invoice_no}}</span>
                <span class="total">₱{{transaction.total}}</span>
                <span class="items">{{transaction.items_string}}</span>
            </div>
        </div>
    </div>
</div>
