.store {
    .icon {
        float: left;
        width: 10%;
        font-size: 29px;
        text-align: center;
        color: #00C094;
        padding-top: 5px;
    }
    .info {
        float: left;
        width: 80%;
        padding: 10px;
        h5 {
            font-size: 16px !important;
            font-weight: bold;
        }
        span {
            margin: 0;
        }
    }
}

.transactions {
    .icon {
        float: left;
        width: 10%;
        text-align: center;
        span.status {
            width: 30px !important;
            height: 30px;
            background: #4CAF50;
            display: block;
            text-align: center;
            margin: 0 !important;
            font-size: 23px !important;
            font-weight: bold;
            color: #fff;
            border-radius: 50px;
            line-height: 29px;
            &.void{
              background: #F44336;
            }
        }
    }
    .info {
        float: left;
        width: 90%;
        padding-left: 20px;
        span.or {
            font-size: 16px !important;
            font-weight: bold;
            float: left;
            text-align: left;
            line-height: 16px;
            width: auto !important;
            margin: 0 !important;
        }
        span.total {
            float: right;
            font-size: 13px !important;
            width: auto !important;
            font-weight: bold;
            border: 1px solid #434c60;
            padding: 1px 10px;
            border-radius: 5px;
            text-align: right;
            margin: 0 !important;
        }
        span.items {
            width: 100%;
            float: left;
            text-align: left;
            font-size: 12px !important;
            margin: 0 !important;
        }
    }
}

.main-container.coordinator {
    padding: 15px 20px;
    font-family: 'Quicksand', sans-serif !important;
    overflow: hidden;
    background: #f3f3f3 !important;
}
