<header>
    <div class="page-info" *ngIf="currentRole != 'franchisee'">
        <button ion-button icon-only menuToggle (tap)="onToggleMenu()">
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <h1>{{branchName}}</h1>
        <h1 *ngIf="!branchKey">Branches</h1>
        <p>Manage daily sales transaction per branch.</p>
    </div>

    <div class="page-info" *ngIf="currentRole == 'franchisee'">
        <button ion-button icon-only (tap)="navigateBack()" *ngIf="!homePanel">
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
        <button ion-button icon-only menuToggle (tap)="onToggleMenu()" *ngIf="homePanel">
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <h1>Augustus | Franchisee</h1>
        <p>Real-time business overview.</p>
    </div>
</header>

<div class="main-content" [style.height.px]="height * 0.8">
    <!--<div class="card inventory animated slideInRight" *ngIf="invPanel">-->
        <!--<h2>{{branch.name}}</h2>-->
        <!--<div class="product-list" [style.height.px]="height * 0.68">-->
            <!--<ul>-->
                <!--<li *ngFor="let product of products">-->
                    <!--<div class="name">{{product.name}}</div>-->
                    <!--<div class="value low">{{product.quantity | number}}</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <div class="card inventory animated slideInRight">
        <h2>{{branchName}}</h2>
        <div class="product-list" [style.height.px]="height * 0.68">
            <ul>
                <li *ngFor="let product of warehouseProducts; let i = index;">
                    <div class="name">{{product.name}} ({{product.size | number}} {{product.metrics}})</div>
                    <div class="value"
                         [class.low]="product.quantity<=4&&product.quantity>0"
                         [class.out]="product.quantity<=0">
                        {{product.quantity | number}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

