<header class="franchisee">
    <div class="top-header">
        <span *ngIf="panel !== 'transaction'">{{ franchiseeName }}</span>
        <span *ngIf="panel === 'transaction'">{{ branchName }}</span>
    </div>
    <div class="sales-overview">
        <div class="total-sales">
            <div class="net" *ngIf="panel === 'home'">
                <span class="sales" *ngIf="panel !== 'inventory'"><span class="currency">PHP</span>
                <span>{{ totalFranchiseeSales.net | number : '1.2-2' }}</span>
                </span>
            </div>
            <div class="filter select" *ngIf="panel === 'inventory'">
                <ion-select [(ngModel)]="currentBranchIndex" (ngModelChange)="onSelectBranchInventory($event)" placeholder="{{ currentBranchName }}">
                    <ion-option *ngFor="let branch of branches; let i = index;" [value]="i">{{ branch.name }}</ion-option>
                </ion-select>
            </div>
            <span class="date" *ngIf="panel !== 'inventory' && panel !== 'transaction'">Total Sales as of {{ dateSet }} </span>
            <span class="date big" *ngIf="panel === 'transaction'">{{ dateSet }} </span>
            <span class="date inventory" *ngIf="panel === 'inventory'">Inventory as of {{ dateSet }} </span>
        </div>
        <div class="statistics" *ngIf="panel !== 'inventory' && panel !== 'transaction'">
            <span class="change list">
                <span class="label">Change</span>
            <span class="sale value" [class.increase]="currentSalesState=='decrease'" [class.decrease]="currentSalesState!='decrease'">
                <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="currentSalesState!='decrease'"></i>
                <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="currentSalesState=='decrease'"></i>
                {{ totalNetSalesPercent| number : '1.0-0'  }}% <span class="sub-label">from last {{ currentRange }}</span>
            </span>
            </span>
            <span class="revenue list">
                <span class="label">Gross Sales</span>
            <span class="gross value">₱{{ totalFranchiseeSales.gross | number : '1.2-2' }}</span>
            </span>
            <span class="discounts list">
                <span class="label">Discounts</span>
            <span class="sale value">- ₱{{ totalFranchiseeSales.discounts | number : '1.2-2' }}</span>
            </span>
        </div>
        <div class="statistics branch" *ngIf="panel === 'transaction'">
            <div class="item">
                <div class="label">Revenue</div>
                <div class="value">₱{{ dailySalesSummary.sales | number : '1.2-2' }}</div>
            </div>
            <div class="item">
                <div class="label">Cost of Sales</div>
                <div class="value red">-₱{{ dailySalesSummary.cost_of_sales | number : '1.2-2' }}</div>
            </div>
            <div class="item">
                <div class="label">Discounts</div>
                <div class="value red">-₱{{ dailySalesSummary.discounts | number : '1.2-2' }}</div>
            </div>
            <div class="item">
                <div class="label">Gross Profit</div>
                <div class="value">₱{{ dailySalesSummary.gross_profit | number : '1.2-2' }}</div>
            </div>
            <div class="item">
                <div class="label">Sold Items</div>
                <div class="value">{{ dailySalesSummary.sold_items| number : '1.0-0' }}</div>
            </div>
            <div class="item">
                <div class="label">Net Sale</div>
                <div class="value">₱{{ dailySalesSummary.net_sales | number : '1.2-2' }}</div>
            </div>
        </div>
    </div>
    <div class="filter" *ngIf="panel === 'home'">
        <div class="option" [class.selected]="currentRange=='day'" (tap)="getSummaryByDate('day')">Daily</div>
        <div class="option" [class.selected]="currentRange=='month'" (tap)="getSummaryByDate('month')">Monthly</div>
        <div class="option" [class.selected]="currentRange=='year'" (tap)="getSummaryByDate('year')">Yearly</div>
    </div>
</header>
<div class="main-container franchisee">
    <div class="section-header">
        <span *ngIf="panel !== 'inventory' && panel !== 'transaction'">Stores</span>
        <div class="tabs" *ngIf="panel === 'transaction'">
            <span [class.active]="transactionsList" (tap)="selectBranchTab('transactions')">Transactions</span>
            <span [class.active]="staffList" (tap)="selectBranchTab('staff')">Staff</span>
            <span [class.active]="reports" (tap)="selectBranchTab('reports')">Reports</span>
        </div>
    </div>
    <div class="stores" [style.height.px]="height" *ngIf="panel !== 'inventory' && panel !== 'transaction'">
        <div class="store" *ngFor="let branch of branches; let i = index" (tap)="selectBranch(branch.key, branch.name, branch.id)">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <div class="info">
                <span class="name">{{ branch.name | slice:0:30 }}</span>
                <span class="location">{{ branch.address  | slice:0:25 }} ...</span>
            </div>
            <div class="total-sales">
                <span class="value">₱{{ branch.net_sales | number : '1.2-2' }}</span>
            </div>
        </div>
    </div>
    <div class="transactions" [style.height.px]="height" *ngIf="panel === 'transaction' && transactionsList">
        <h6 *ngIf="noTransactions">No transactions yet</h6>
        <div class="transaction" *ngFor="let transaction of transactions; let i = index" (tap)="onSelectTransaction(transaction)">
            <div class="details">
                <span class="or">{{ transaction.or_no }}</span>
                <span class="items">{{ transaction.items_string  | slice:0:30 }} ...</span>
                <span class="members-id" style="display: block"><b>Staff:</b> {{ transaction.staff_firstname }} {{ transaction.staff_lastname }}</span>
                <span class="members-id" *ngIf="transaction.customer_id != null"><b>Member:</b> {{ transaction.customer_firstname }} {{ transaction.customer_lastname }} / {{ transaction.customer_id }}</span>
                <span class="members-id" *ngIf="transaction.customer_id == null"><b>Customer:</b> {{ transaction.customer_firstname }}</span>
                <span class="created">Created at {{ transaction.time }}</span>
            </div>
            <div class="amount">
                <span class="price">₱{{ transaction.grand_total | number : '1.2-2' }}</span>
                <span class="type sale" *ngIf="transaction.status != 'void' && transaction.sale_type != 'redeem'">Sale</span>
                <span class="type void" *ngIf="transaction.status == 'void'">Void</span>
                <span class="type redeem" *ngIf="transaction.status != 'void' && transaction.sale_type == 'redeem'">Redeem</span>
            </div>
        </div>
    </div>
    <div class="transactions" [style.height.px]="height" *ngIf="panel === 'transaction' && staffList">
        <h6 *ngIf="noTransactions">No transactions yet</h6>
        <div class="transaction" *ngFor="let staff of staffDailySalesSummary; let i = index" (tap)="showStaffTransactions(staff.staff_id)">
            <div class="details">
                <span class="or">{{ staff.firstname }} {{ staff.lastname }}</span>
                <span class="items"><i>Tap for breakdown </i></span>
            </div>
            <div class="amount">
                <span class="price">₱{{ staff.net_sales | number : '1.2-2' }}</span>
                <span class="type sale">{{ staff.sold_items | number : '1.0-0' }} Items</span>
            </div>
            <div class="staff-transactions" [class.hidden]="staff.staff_id != currentStaffId">
                <div class="loading-details" style="margin-left:10px;" *ngIf="loadingStaffTransactions">
                    <i class="fa fa-refresh fa-spin"></i> Loading Transactions...
                </div>
                <div class="staff-transaction" *ngFor="let item of staffTransactions; let i = index">
                    <div class="item-details">
                        <span class="or_num" [class.void]="item.status == 'void'">{{ item.or_no }} <span *ngIf="item.status == 'void'" class="void">(Void)</span></span>
                        <span class="items">{{ item.items_string }}</span>
                    </div>
                    <div class="amount">
                        <div class="price" [class.void]="item.status == 'void'"><span *ngIf="item.status == 'void'">-</span>₱{{ item.net_sales | number : '1.2-2' }}</div>
                        <div class="type" [class.void]="item.status == 'void'">{{ item.sold_items | number : '1.0-0' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transactions" [style.height.px]="height" *ngIf="panel === 'transaction' && reports == true">
        <div class="report-description">
            <h2>Hourly Sales Graph</h2>
            
        </div>
                <div class="graph-container">
                    <div class="item" *ngFor="let hourlySale of hourlySales; let i = index">
                        <div class="line-container">
                            <span [style.width.%]="hourlySale.percentage"></span>
                        </div>
                        <div class="label">
                            {{ hourlySale.time }}
                        </div>
                    </div>
                </div>
            </div>
    <div class="inventories" *ngIf="panel === 'inventory'" [style.height.px]="height + 150">
        <h6 *ngIf="noInventory">Branch has no inventory yet</h6>
        <div *ngIf="!noInventory" class="table-label">
            <div class="product">Item</div>
            <div class="beginning">Beg.</div>
            <div class="ending">End.</div>
            <div class="sold">Sold</div>
        </div>
        <div *ngIf="!noInventory" class="inventory-list" [style.height.px]="height + 75">
            <div class="inventory" *ngFor="let stock of stockInventory; let i = index">
                <div class="inventory-container" [class.active]="stock.sold > 0">
                    <div class="product">{{ stock.item }}</div>
                    <div class="beginning">{{ stock.beginning }}</div>
                    <div class="ending">{{ stock.ending }}</div>
                    <div class="sold">{{ stock.sold }}</div>
                </div>
            </div>
            <div class="total-sold">
                <span>Total Items Sold: </span>
                <b>{{ totalSoldItems }}</b>
            </div>
        </div>
    </div>
</div>
<div class="navigation">
    <div class="item" [class.active]="panel ==='home' || panel === 'transaction'" (tap)="selectBranchSalesPanel()">
        <i class="fa fa-th" aria-hidden="true"></i>
        <label>Sales</label>
    </div>
    <div class="item" [class.active]="panel === 'inventory'" (tap)="selectInventoryPanel()">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        <label>Inventory</label>
    </div>
    <div class="item">
        <div class="filter-date">
            <ion-item class="date">
                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="currentDate" (ngModelChange)="getSummaryByDate(currentRange)"></ion-datetime>
            </ion-item>
            <div class="date-icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="item" (tap)="selectCallSupport()">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <label>Support</label>
    </div>
    <div class="item" (tap)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <label>Logout</label>
    </div>
</div>
