header.franchisee {
    background-image: linear-gradient(-134deg, #2F00DB 0%, #2447E7 100%) !important;
    position: relative;
    padding-bottom: 15px;
    .top-header {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.21176470588235294);
    }
    .sales-overview {
        overflow: auto;
        text-align: left;
        margin-top: 10px;
        .statistics {
            width: 100%;
            float: left;
            margin-top: 22px;
            text-align: center !important;
            &.branch {
                margin-top: 5px;
            }
            .list {
                padding: 10px;
                border: 2px solid rgba(0, 0, 0, 0.12156862745098039);
                width: 33.3% !important;
                margin: 0px auto;
                font-size: 15px !important;
                overflow: auto;
                float: left !important;
                margin: 0 !important;
                .value {
                    float: right;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 12px !important;
                    font-weight: 300;
                    &.increase {
                        color: #bdf57d;
                        line-height: 17px;
                    }
                    &.decrease {
                        color: #ff5121;
                        line-height: 17px;
                    }
                    .sub-label {
                        font-size: 9px;
                        display: block;
                        color: #fff;
                        line-height: 5px;
                    }
                }
                .label {
                    text-align: center;
                    width: 100% !important;
                    font-size: 12px;
                    color: #fff;
                    display: block;
                    float: left;
                    font-weight: bold;
                }
                &.discounts {
                    border-left: 1px solid rgba(0, 0, 0, 0.12156862745098039);
                }
                &.revenue {
                    border-left: 1px solid rgba(0, 0, 0, 0.12156862745098039);
                }
            }
            .item {
                width: 90%;
                padding: 5px;
                border-bottom: 1px solid #ffffff3d;
                margin: 0 auto !important;
                .label {
                    float: left;
                    width: 40%;
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: bold;
                }
                .value {
                    color: #aaef5b;
                    text-align: right;
                    font-weight: bold;
                    &.red {
                        color: #F44336 !important;
                    }
                }
            }
            .item:last-child {
                border: none;
                .value {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
        .net {
            display: block;
            margin: 20px 0 5px;
            text-align: center;
            .currency {
                font-weight: bold;
                font-size: 16px;
            }
            .sales {
                font-size: 31px;
                display: block;
                font-weight: bold;
                line-height: 17px;
            }
        }
        .date {
            display: block;
            color: #78B3FF;
            font-weight: bold;
            font-size: 11px;
            text-align: center;
            width: 53%;
            margin: 0 auto;
            &.big {
                font-size: 15px;
                width: 90%;
                text-align: left;
            }
            &.inventory {
                width: 100%;
                padding: 10px 0px 30px;
                font-size: 13px;
            }
        }
        span.revenue {
            display: block;
            float: left;
            width: 100%;
            margin-top: 13px;
            .label {
                width: 79px;
                display: block;
                float: left;
                font-weight: bold;
                font-size: 12px;
            }
            .gross {
                color: #33FFF7;
                font-weight: bold;
                float: left;
                display: block;
                font-size: 12px;
            }
        }
        .discounts {
            float: left;
            width: 100%;
            display: block;
            font-size: 12px;
            .label {
                font-weight: bold;
                width: 79px;
                display: block;
                float: left;
            }
            .sale {
                float: left;
                font-weight: bold;
                color: #FF5722;
            }
        }
        .icon {
            position: absolute;
            width: 79px;
            right: 36px;
            opacity: 0.9;
            float: right;
            top: 35%;
            span.value {
                font-weight: bold;
                font-size: 15px;
                position: absolute;
                left: 10px;
                top: -4px;
                &.increase {
                    color: #81ff85;
                }
                &.decrease {
                    color: #ff766c;
                }
            }
            .label {
                font-size: 10px;
                text-align: center;
                display: block;
                position: absolute;
                width: 100%;
                font-weight: bold;
            }
        }
    }
}

.filter {
    width: 100%!important;
    background: rgba(0, 0, 0, 0.33) !important;
    border-radius: 40px;
    overflow: auto;
    margin-top: 20px !important;
    &.select {
        background: #fff !important;
        color: #000 !important;
        margin-top: 10px !important;
        .select {
            color: #000 !important;
            max-width: 93%;
        }
    }
    .option {
        float: left;
        width: 33.3%;
        text-align: center;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        &.option.selected {
            background: #4CAF50;
        }
    }
    .branch {
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 3px;
        font-size: 15px;
    }
}

.main-container {
    padding: 15px 20px;
    font-family: 'Quicksand', sans-serif !important;
    .section-header {
        float: left;
        width: 100%;
        font-weight: bold;
        color: #b9b9b9;
    }
    .stores {
        float: left;
        width: 100%;
        margin-top: 9px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 36vh;
        padding-bottom: 20px;
        .store {
            width: 100%;
            float: left;
            background: #fff;
            padding: 10px;
            border-radius: 11px;
            box-shadow: 0px 0px 6px rgba(210, 210, 210, 0.44);
            position: relative;
            margin-bottom: 10px;
            i.fa {
                position: absolute;
                left: -10px;
                padding: 7px;
                background: #f3f3f3;
                border-radius: 18px;
                font-size: 16px;
                top: 15px;
            }
            .info {
                float: left;
                margin-left: 11px;
                padding: 5px 11px 0!important;
                width: 64%;
                span {
                    display: block;
                    font-weight: bold;
                }
                .name {
                    line-height: 18px;
                    font-size: 14px;
                }
                .location {
                    font-size: 11px;
                    color: #9fb7bf;
                }
            }
            .total-sales {
                float: right;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                color: #47B04D;
                line-height: 36px;
                padding-right: 10px;
                font-size: 14px;
            }
        }
    }
    .transactions {
        float: left;
        width: 100%;
        margin-top: 9px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 36vh;
        padding-bottom: 40px;
        h6 {
            text-align: center;
            margin-top: 100px;
        }
        .transaction {
            width: 100%;
            float: left;
            background: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 6px rgba(210, 210, 210, 0.44);
            position: relative;
            margin-bottom: 10px;
            .staff-transactions {
                float: left;
                width: 100%;
                min-height: 30px;
                overflow: auto !important;
                height: auto;
                margin-top: 15px;
                .item-details {
                    overflow: auto;
                    float: left;
                    width: 70%;
                    border: none !important;
                    .or_num {
                        display: block;
                        font-weight: bold;
                        font-size: 11px;
                    }
                    .items {
                        font-size: 11px;
                        line-height: 14px;
                        display: block;
                    }
                    .members-id {
                        width: 100%;
                        display: block;
                        font-size: 12px;
                        color: #FF9800;
                        font-weight: bold;
                        text-transform: capitalize;
                        b {
                            color: black;
                            font-size: 10px;
                        }
                    }
                }
                .amount {
                    float: right;
                    border: none !important;
                    .price {
                        font-size: 12px !important;
                        padding: 0;
                        border: none;
                    }
                    .type {
                        font-size: 11px !important;
                        padding: 0;
                        color: #8BC34A;
                        border: none;
                    }
                }
                .staff-transaction {
                    border-bottom: none;
                    border-top: 1px dotted #c1c1c1;
                }
                .staff-transaction:nth-of-type(odd) {
                    background: #f3f3f3;
                }
                &.hidden {
                    min-height: 0;
                    height: 0;
                }
                .void {
                    color: #F44336 !important;
                }
            }
            .details {
                width: 65%;
                float: left;
                .or {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 14px;
                }
                .items {
                    font-size: 11px;
                    line-height: 9px;
                }
            }
            .amount {
                float: right;
                .price {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                }
                .type {
                    font-size: 11px;
                    display: block;
                    text-align: right;
                    font-weight: bold;
                    &.sale {
                        color: #8BC34A;
                    }
                    &.void {
                        color: #F44336;
                    }
                    &.redeem {
                        color: #03A9F4;
                    }
                }
            }
        }
    }
}

.navigation {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    .item {
        float: left;
        width: 20%;
        height: 55px;
        position: relative;
        contain: inherit;
        i {
            display: block;
            font-size: 23px;
            width: 100%;
            text-align: center;
            margin-top: 7px;
            color: rgba(0, 0, 0, 0.32941176470588235);
        }
        label {
            font-size: 11px;
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, 0.32941176470588235);
        }
        .filter-date {
            position: absolute;
            top: -14px;
            right: 5%;
            width: 50px;
            height: 50px;
            z-index: 1017;
            left: 50%;
            margin-left: -25px;
            .date {
                background: transparent;
                opacity: 0;
                position: absolute;
                width: 100%;
                padding: 0;
            }
            .date-icon {
                width: 50px;
                height: 50px;
                background-image: linear-gradient(-134deg, #2F00DB 0%, #2447E7 100%) !important;
                text-align: center;
                font-size: 22px;
                padding-top: 14%;
                border-radius: 36px;
                color: #fff;
                i {
                    color: #fff;
                }
            }
        }
        &.active {
            i,
            label {
                color: #4caf50;
            }
        }
    }
}

.inventories {
    padding: 15px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px rgba(210, 210, 210, 0.44);
    box-shadow: 0px 0px 6px rgba(210, 210, 210, 0.44);
    position: absolute;
    width: 90%;
    left: 5%;
    top: 172px;
    overflow: scroll;
    .table-label,
    .table-footer {
        overflow: auto;
        padding: 10px 0px 10px 10px;
        border-bottom: 2px solid #f3f3f3;
        div {
            float: left;
        }
    }
    .table-footer {
        background: #d6d6d6;
    }
    .inventory-list {
        overflow: scroll;
        float: left;
        width: 100%;
        .inventory {
            float: left;
            width: 100%;
            overflow: auto;
            font-size: 13px;
            .inventory-container {
                padding: 10px 0px 10px 10px;
                overflow: auto;
                &.active {
                    background: rgba(139, 195, 74, 0.27);
                }
                div {
                    float: left;
                }
            }
        }
        .inventory:nth-of-type(even) {
            background: #f3f3f3 !important;
        }
    }
    .product {
        width: 55%;
        font-weight: bold;
    }
    .beginning {
        width: 15%;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #4CAF50;
    }
    .ending {
        width: 15%;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #3F51B5;
    }
    .sold {
        width: 15%;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #FF5722;
    }
    .total-sold {
        float: left;
        width: 100%;
        padding: 10px;
        border-top: 3px solid #f3f3f3;
        b {
            float: right;
            font-weight: bold;
            color: #ff5604;
        }
        span {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.tabs {
    float: left;
    width: 100%;
    overflow: auto;
    span {
        display: block;
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 0 0 10px;
        &.active {
            border-bottom: 2px solid #48b04b;
            color: #48b04b;
        }
    }
}

.main-container .stores .store:nth-child(1) i.fa {
    color: #F5402C;
}

.main-container .stores .store:nth-child(2) i.fa {
    color: #EE1561;
}

.main-container .stores .store:nth-child(3) i.fa {
    color: #9D20B2;
}

.main-container .stores .store:nth-child(4) i.fa {
    color: #6535A7;
}

.main-container .stores .store:nth-child(5) i.fa {
    color: #3F4DB5;
}

.main-container .stores .store:nth-child(6) i.fa {
    color: #1594F4;
}

.main-container .stores .store:nth-child(7) i.fa {
    color: #00968A;
}

.main-container .stores .store:nth-child(8) i.fa {
    color: #45B84B;
}

.main-container .stores .store:nth-child(9) i.fa {
    color: #CDDE24;
}

.main-container .stores .store:nth-child(10) i.fa {
    color: #FFEB19;
}

.main-container.franchisee {
    padding: 15px 20px;
    font-family: 'Quicksand', sans-serif !important;
    overflow: hidden;
    background: #f3f3f3 !important;
}

span.members-id {
    font-size: 10px;
    text-transform: capitalize;
    width: 150%;
}

span.created {
    font-size: 10px;
    display: block;
    color: #909090;
}

.graph-container {
    overflow: auto;
    .item {
        overflow: auto;
        width: 100%;
        margin-bottom: 8px;
        .line-container {
            overflow: auto;
            width: 90%;
            float: right;
            background: #b9b9b9;
            height: 7px;
            border-radius: 19px;
            span {
                width: 50%;
                height: 100%;
                display: block;
                background-image: linear-gradient(-134deg, #2F00DB 0%, #2447E7 100%) !important;
                border-radius: 25px;
            }
        }
    }
    .label {
        float: left;
        width: 10%;
        font-size: 11px;
        font-weight: bold;
    }
}

.report-description {
    h2 {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 20px;
    }
}
