.filter {
  .branch {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    font-size: 15px;
  }
}

.card {
  .total-revenue {
    border-bottom: 1px dotted rgba(90, 103, 127, 0.47);
    .branch,
    .data {
      width: 50%;
      float: left;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 17px;
      }
    }
  }
  h2 {
    margin-top: 10px !important;
  }
  .actions {
    padding: 10px;
    button.transactions,
    .inventory {
      float: right;
      padding: 8px 17px;
      border-radius: 29px;
      font-size: 12px;
      font-weight: bold;
      background: #01c094;
      color: #fff;
      margin-left: 10px;
    }
    .inventory {
      background: #FF5722;
    }
  }
  .product-list {
    overflow: scroll;
  }
}


