<div class="coordinator inventory animated flipInY" [style.height.px]="height" [hidden]="hidden" *ngIf="!loading">
    <h2>CURRENT INVENTORY</h2>
    <div class="product-list" [style.height.px]="height * 0.68">
        <ul>
            <li *ngFor="let stock of branchStocks; let i = index;">
                <div class="name">{{stock.name}} ({{stock.size | number}} {{stock.metrics}})</div>
                <div class="value"
                        [class.low]="stock.quantity <= 4 && stock.quantity>0"
                        [class.out]="stock.quantity<=0">
                    {{stock.quantity | number}}
                </div>
            </li>
        </ul>
    </div>
</div>


