<header>
    <div class="page-info">
        <button ion-button icon-only menuToggle (tap)="onToggleMenu()">
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <h1>Add Branch</h1>
        <p>Add a branch to your account</p>
    </div>
</header>
<div class="main-content">
    <div class="card">
        <div class="card-head">
            <h5>Enter branch key here</h5>
        </div>
        <div class="wrapper">
            <form>
                <input class="form-control type" type="number" [(ngModel)]="branchKey" name="branch_key" aria-placeholder="Branch Key">
            </form>
        </div>
    </div>
</div>
<div class="button-class footer">
    <button ion-button full class="btn-primary button-full-md " (tap)="showPrompt('confirm', branchKey)">SUBMIT</button>
    <!-- <button ion-button icon-only (tap)="showPromt()" class="btn-branch">Add Branch</button> -->
</div>
