input {
    width: 100%;
    border: none !important;
    background: #ececec !important;
    margin: 10px 0;
    padding: 13px !important;
    font-size: 16px !important;
    font-weight: bold;
    color: #000 !important;
}
